.card {
  --font-color: rgb(36, 49, 51);
  --bg-color: transparent;
  --sec-color: SlateGray;
  --accent-color: rgb(42, 170, 170);
  --round-color: rgb(147, 161, 177);
  --grammar-color: rgb(27, 90, 119);
  --angle-color: rgb(78, 100, 109);
  --square-color: rgb(78, 100, 109);
  --angle2-color: rgb(25, 57, 117);
  --button-color: rgba(112, 128, 144, 0.5);
  --table-color: rgba(112, 128, 144, 0.5);
  --numbered-color: SlateGray;
}

.card.night_mode {
  --font-color: LightGray;
  --sec-color: rgb(148, 168, 189);
  --accent-color: rgb(103, 199, 199);
  --round-color: rgb(162, 170, 179);
  --grammar-color: rgb(166, 202, 202);
  --angle-color: rgb(166, 195, 202);
  --square-color: rgb(166, 195, 202);
  --angle2-color: rgb(151, 180, 206);
  --numbered-color: rgb(162, 170, 179);
}

.card {
  font-family: 'Libre Baskerville', serif;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  text-align: center;
  -webkit-box-align: stretch;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
}

.card * {
  color: var(--font-color);
}

hr.gradation {
  border: 0;
  height: 1px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, transparent, var(--font-color), transparent);
}

hr.separate {
  margin: 2% 0px;
  background-color: transparent;
  border-top: 1px dashed var(--sec-color);
}

a {
  color: var(--font-color);
  -webkit-user-select: text;
  user-select: text;
  text-decoration: none;
}

.night_mode a {
  color: var(--font-color);
}

a:hover {
  color: var(--sec-color);
}

#ipa span {
  display: inline-block;
}

#ipa span.phonetic {
  font-size: 1.2rem;
}

#ipa span.describe {
  font-size: 1rem;
  margin-left: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--sec-color);
}

button, .button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: transparent;
  border: 1px solid var(--button-color);
  border-radius: 24px;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  transition-duration: 0.2s;
}

#ipa .button, #ipa button {
  border-radius: 100px;
  padding: 3px 6px;
  margin: 0px;
}

div.play_button, span.play_button {
  display: inline-block;
  margin: 1px 0px 1px 2px;
  padding: 0px;
  width: 8px;
  height: 10px;
  border-style: solid;
  box-sizing: border-box;
  border-width: 5px 0px 5px 10px;
  border-color: transparent var(--font-color);
}

#meaning {
  margin: 2%;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#meaning span.cell {
  display: table-cell;
}

#meaning span[class=wordClass], #meaning div[class=header-hinshi], #meaning span[data-type="hinshi"] {
  font-weight: bold;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  display: inline-block;
  text-align: center;
  min-width: 1rem;
  padding: 0px 5px;
  margin: 0.1rem;
  border-radius: 2px;
}

span[class=grammar] {
  color: var(--grammar-color);
}

span[class=round] {
  color: var(--round-color);
}

span[class=angle] {
  color: var(--angle-color);
}

span[class=square] {
  color: var(--square-color);
}

span[class=angle2] {
  color: var(--angle2-color);
}

span[class=numbered] {
  margin: 0px 2px;
  width: 18px;
  display: flex;
  color: var(--numbered-color);
}

#example {
  margin: 2%;
  font-weight: 600;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#example p {
  padding: 0px;
  margin: 0.5rem 0rem;
}

span[class=highlight] {
  color: var(--accent-color);
}

#example span[class=english], #example a, #example li[class="word-def-list-example"] {
  font-size: 1rem;
  margin-right: 0.5rem;
}

#example span[class=japanese], #example div[class=cht_exp] {
  font-size: 0.8rem;
  font-weight: normal;
  color: var(--sec-color);
  display: inline-block;
}

ol {
  list-style-type: none;
  margin: 1rem 0rem;
  padding: 0rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  padding: 3px;
}

td {
  width: 50%;
}

table.meaning td {
  width: auto;
  vertical-align: center;
  margin: 0px;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transition: 200ms;
}

#image {
  min-width: 100px;
  min-height: 10px;
}

#image img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal img {
  padding: 1%;
  width: auto;
  height: 110%;
  max-width: initial;
  max-height: initial;
}

.photos {
  column-count: 2;
  column-gap: 0px;
}

@media screen and (min-width: 600px) {
  #modal img {
    width: 100%;
    height: auto;
  }
}

.night_mode #image img {
  filter: brightness(80%);
}

#meaning img.gaiji {
  width: auto;
  height: auto;
}

.night_mode #meaning img {
  filter: invert(82%);
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#example .button {
  border-radius: 5px;
  margin-right: 0.5rem;
  padding: 0px;
}

.button:hover, button:hover, #image:hover, a:hover {
  cursor: pointer;
  background-color: var(--button-color);
}

.tab_content {
  animation: fadeIn 500ms;
}

.tab {
  float: right;
}

.tab .button {
  border-radius: 3px;
  padding: 1px 1rem;
}

.tab .button.active {
  background-color: var(--button-color);
}

.material-icons {
  vertical-align: -19%
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
}

.fade-in0 {
  animation-duration: 0.1s;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  animation-name: fadeIn;
  animation-fill-mode: backwards;
}

.move-up0 {
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  animation-name: moveUp;
  animation-fill-mode: backwards;
}

.move-up1 {
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0.3s;
  animation-name: moveUp;
  animation-fill-mode: backwards;
}

.move-up2 {
  animation-duration: 0.4s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-name: moveUp;
  animation-fill-mode: backwards;
}

.move-up3 {
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
  animation-name: fadeIn;
  animation-fill-mode: backwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(20px)
  }
  to {
    opacity: 1;
    transform: translateY(0px)
  }
}