<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&amp;display=swap" rel="stylesheet" />

<div class="w3-auto" id="front_body" style="max-width:1200px; opacity: 0;">
  {{^Sentence}}
  <div class="fade-in0" id="expression">{{Expression}}</div>
  {{/Sentence}}
  {{#Sentence}}
  <div class="fade-in0" id="expression" style="display: none;">{{Expression}}</div>
  {{/Sentence}}
  <div class="fade-in0 w3-large" id="sentence">{{Sentence}}</div>
</div>
<div hidden="">{{Sound_Source}}</div>
<script>
  var injectScript = (src) => {
    return new Promise((resolve, reject) => {
      const script = document.createElement('script');
      script.src = src;
      script.async = true;
      script.onload = resolve;
      script.onerror = reject;
      document.head.appendChild(script);
    });
  };

  var mainFunc = async () => {
    // Load jquery only on AnkiDroid
    if (typeof jQuery === "undefined") {
      await injectScript("https://code.jquery.com/jquery-3.5.1.min.js");
    }
    $(document).ready(() => {
      $("#front_body").animate({
        opacity: 1
      }, 500);
    });
  };

  mainFunc();
</script>