@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://raw.githack.com/eflite/Cambridge_popup/master/fg/css/cambridge.css");
@import url("https://raw.githack.com/eflite/anki-template/master/_style.css");
#sentence {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto;
  max-width: 600px;
}

#expression {
  text-align: center;
  font-size: calc(1rem + 4vw);
}

@media screen and (min-width: 600px) {
  #expression {
    text-align: center;
    font-size: 3rem;
  }
}

#ipa {
  text-align: center;
  margin: 1%;
}