<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&amp;display=swap" rel="stylesheet" />
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
<link href="https://raw.githack.com/eflite/anki-template/master/_style.css" rel="stylesheet" />
<link href="https://raw.githack.com/eflite/Cambridge_popup/master/fg/css/cambridge.css" rel="stylesheet" />
<div class="w3-auto front" id="front_body" style="max-width:1200px; opacity: 0;">
  <div class="w3-large">{{phrase_meaning}}</div>
  <div class="w3-large">{{cloze:phrase}}</div>
  <div class="w3-large">{{type:cloze:phrase}}</div>
</div>
<script>
  var injectScript = (src) => {
    return new Promise((resolve, reject) => {
      const script = document.createElement('script');
      script.src = src;
      script.async = true;
      script.onload = resolve;
      script.onerror = reject;
      document.head.appendChild(script);
    });
  };

  var mainFunc = async () => {
    // Load jquery only on AnkiDroid
    if (typeof jQuery === "undefined") {
      await injectScript("https://code.jquery.com/jquery-3.5.1.min.js");
    }
    $(document).ready(() => {
      $("#front_body").animate({
        opacity: 1
      }, 500);
    });
  };

  mainFunc();
</script>