@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://raw.githack.com/eflite/Cambridge_popup/master/fg/css/cambridge.css");
@import url("https://raw.githack.com/eflite/anki-template/master/_style.css");
#word_meaning, #ipa, #expression {
  text-align: left !important;
}

.typeGood {
  background-color: rgba(142, 255, 166, 0.3);
}

.typeBad {
  background-color: rgba(255, 142, 142, 0.3);
}

.typeMissed {
  background-color: transparent;
}

input#typeans {
  position: center;
  height: 3em;
  background-color: transparent;
}

a.replay-button {
  width: 2rem;
}