<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&amp;display=swap" rel="stylesheet" />
<div class="w3-auto" id="front_body" style="opacity: 0;">
  <div class="w3-container">
    <div class="w3-small sentence">{{Subdeck}}</div>
    <div class="w3-large sentence">{{edit:Sentence}}</div>
    <div class="w3-large sentence">{{Audio}}</div>
  </div>
  <hr class='separate'>
  <div style="visibility: hidden;">
    <div class="w3-half" id="image" onclick="document.getElementById('modal').style.display='block'">
      {{Image}}
      {{^Image}}
      <img src="https://res.cloudinary.com/eflite/image/upload/Media/{{text:Expression}}.jpg">
      {{/Image}}
    </div>

    <div class="w3-half" id='word_meaning'>
      <div class="w3-container w3-xxlarge" id="expression">
        {{Expression}}
      </div>
      <div class="w3-container" id="ipa">{{IPA}}</div>
      <div class="move-up1" id="meaning">
        <div class="tab">
          <a class="button tab_links" id="tab_eng" accesskey="e" onclick="open_tab(event, 'Eng')">ENG</a>
          <a class="button tab_links" id="tab_jpn" accesskey="j" onclick="open_tab(event, 'Jpn')">JPN</a>
        </div>
        <div id="Eng" class="tab_content" style="display: none;">
          {{edit:E-Meaning}}
        </div>

        <div id="Jpn" class="tab_content" style="display: none;">
          {{edit:J-Meaning}}
        </div>

      </div>
      <div class="move-up2" id="buttons">
        <a class="button" href="https://www.google.com/search?q={{text:Expression}}&amp;tbm=isch"><img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg">
        </a>
        <a class="button" href="http://ejje.weblio.jp/content/{{text:Expression}}"><img class="icon" src="https://weblio.hs.llnwd.net/e7/img/favicon/ejje.png">
        </a>
        <a class="button" href="https://dictionary.cambridge.org/dictionary/english/{{text:Expression}}"><img class="icon" src="https://dictionary.cambridge.org/external/images/favicon.ico">
        </a>
        <a class="button" href="http://jp.voicetube.com/definition/{{text:Expression}}"><img class="icon" src="https://cdn.voicetube.com/assets/img/logo/favicon-32x32.png">
          <a class="button" href="https://www.thesaurus.com/browse/{{text:Expression}}"><img class="icon" src="https://www.thesaurus.com/assets/favicon-54545f5303fccb956af394ac10f1655d.png">
          </a>
      </div>
    </div>
  </div>
</div>

<script>
  var injectScript = (src) => {
    return new Promise((resolve, reject) => {
      const script = document.createElement('script');
      script.src = src;
      script.async = true;
      script.onload = resolve;
      script.onerror = reject;
      document.head.appendChild(script);
    });
  };

  var mainFunc = async () => {
    // Load jquery only on AnkiDroid
    if (typeof jQuery === "undefined") {
      await injectScript("https://code.jquery.com/jquery-3.5.1.min.js");
    }
    $(document).ready(() => {
      $("#front_body").animate({
        opacity: 1
      }, 500);
    });
  };

  mainFunc();
</script>