<div class="w3-auto" id='back_body' style="max-width:1200px; opacity: 0;">
  <div class="w3-small phrase">{{Subdeck}}</div>
  <div class="w3-large phrase">{{edit:phrase}}</div>
  <div class="w3-large">{{phrase_sound}}</div>
  <hr class='separate'>

  <div class="w3-half" id="image">
    <div class="row" id="image_row" onclick="document.getElementById('modal').style.display='block'">
      {{#Image}}
      <script>
        function tile_image(text) {
          let parent = document.getElementById('image_row');
          let col = document.createElement('DIV');
          col.setAttribute('class', 'column');
          let col2 = document.createElement('DIV');
          col2.setAttribute('class', 'column');
          let cols = [col, col2];
          let parser = new DOMParser();
          let elem = parser.parseFromString(text, 'text/html');
          const images = elem.getElementsByTagName('img');
          let l = images.length;
          for (let i = 0; i < l; i++) {
            cols[i % 2].appendChild(images[0]);
          }
          console.log(cols)
          cols.forEach(col => parent.appendChild(col))
        }

        tile_image(`{{Image}}`)
      </script>
      {{/Image}}
    </div>
    {{^Image}}
    <img src="https://res.cloudinary.com/eflite/image/upload/Media/{{text:Expression}}.jpg" onerror="this.style.display='none'">
    {{/Image}}
    {{#Video}}
    <video src={{Video}} controls autoplay></video>
    {{/Video}}
  </div>

  <div class="w3-half">
    <div class="move-up1" id="meaning">
      <div class="fade-in0" id="expression">{{Expression}}</div>
      <div class="tab">
        <a class="button tab_links" id="tab_eng" accesskey="e" onclick="open_tab(event, 'Eng')">ENG</a>
        <a class="button tab_links" id="tab_jpn" accesskey="j" onclick="open_tab(event, 'Jpn')">JPN</a>
      </div>
      <div class="fade-in0" id="ipa">{{IPA}}</div>

      <div id="Eng" class="tab_content" style="display: none;">
        {{edit:E-Meaning}}
      </div>

      <div id="Jpn" class="tab_content" style="display: none;">
        {{edit:J-Meaning}}
      </div>
    </div>
    <div class="move-up3" id="buttons">
      <a class="button" href="https://www.google.com/search?q={{text:Expression}}&amp;tbm=isch"><img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg">
      </a>
      <a class="button" href="http://ejje.weblio.jp/content/{{text:Expression}}"><img class="icon" src="https://weblio.hs.llnwd.net/e7/img/favicon/ejje.png">
      </a>
      <a class="button" href="https://dictionary.cambridge.org/dictionary/english/{{text:Expression}}"><img class="icon" src="https://dictionary.cambridge.org/external/images/favicon.ico">
      </a>
      <a class="button" href="http://jp.voicetube.com/definition/{{text:Expression}}"><img class="icon" src="https://cdn.voicetube.com/assets/img/logo/favicon-32x32.png">
        <a class="button" href="https://www.thesaurus.com/browse/{{text:Expression}}"><img class="icon" src="https://www.thesaurus.com/assets/favicon-54545f5303fccb956af394ac10f1655d.png">
        </a>
    </div>
  </div>
</div>
<div id="modal" class="w3-modal w3-animate-opacity" onclick="this.style.display='none'">
  {{Image}}
</div>

<script>
  var injectScript = (src) => {
    return new Promise((resolve, reject) => {
      const script = document.createElement('script');
      script.src = src;
      script.async = true;
      script.onload = resolve;
      script.onerror = reject;
      document.head.appendChild(script);
    });
  };

  var mainFunc = async () => {
    // Load jquery only on AnkiDroid
    if (typeof jQuery === "undefined") {
      await injectScript("https://code.jquery.com/jquery-3.5.1.min.js");
    }
    await injectScript("https://raw.githack.com/eflite/anki-template/master/_script.js");
    $(document).ready(() => {
      $("#back_body").animate({
        opacity: 1
      }, 500);

      document.getElementById("tab_eng").click();
      playAudioSequence();
      cleaner();
    });
  };

  mainFunc();
</script>