<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />
<link href="_style.css" rel="stylesheet" />
<div class="w3-auto" style="max-width:1200px;">
  <div class="w3-small phrase">{{Subdeck}}</div>
  <div class="w3-large phrase">{{edit:phrase}}</div>
  <div class="w3-large">{{phrase_sound}}</div>
  <hr class='separate'>
  <div style="visibility: hidden;">

    <div class="w3-half" id="image" onclick="document.getElementById('modal').style.display='block'">
      {{Image}}
    </div>

    <div class="w3-half">
      <div class="move-up1" id="meaning">
        <div class="fade-in0" id="expression">{{Expression}}</div>
        <div class="fade-in0" id="ipa">{{IPA}}</div>
        <div class="tab">
          <a class="button tab_links" id="tab_eng" accesskey="e" onclick="open_tab(event, 'Eng')">ENG</a>
          <a class="button tab_links" id="tab_jpn" accesskey="j" onclick="open_tab(event, 'Jpn')">JPN</a>
        </div>

        <div id="Eng" class="tab_content" style="display: none;">
          {{edit:E-Meaning}}
          <hr class="separate">
        </div>

        <div id="Jpn" class="tab_content" style="display: none;">
          {{edit:J-Meaning}}
        </div>
      </div>
      <div id="buttons">
        <a class="button" href="https://www.google.com/search?q={{text:Expression}}&amp;tbm=isch"><img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg">
        </a>
        <a class="button" href="http://ejje.weblio.jp/content/{{text:Expression}}"><img class="icon" src="https://weblio.hs.llnwd.net/e7/img/favicon/ejje.png">
        </a>
        <a class="button" href="https://dictionary.cambridge.org/dictionary/english/{{text:Expression}}"><img class="icon" src="https://dictionary.cambridge.org/external/images/favicon.ico">
        </a>
        <a class="button" href="http://jp.voicetube.com/definition/{{text:Expression}}"><img class="icon" src="https://cdn.voicetube.com/assets/img/logo/favicon-32x32.png">
          <a class="button" href="https://skell.sketchengine.co.uk/run.cgi/concordance?lpos=&query={{text:Expression}}"><img class="icon" src="https://skell.sketchengine.co.uk/favicon.ico">
          </a>
      </div>
    </div>
  </div>
</div>