@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://raw.githack.com/eflite/Cambridge_popup/master/fg/css/cambridge.css");
@import url("https://raw.githack.com/eflite/anki-template/master/_style.css");
.card * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left !important;
}

.phrase {
  margin: auto;
  max-width: 600px;
}

strong {
  color: var(--grammar-color);
}

.night_mode strong {
  color: var(--grammar-color-n);
}

section {
  display: none !important;
}