@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://raw.githack.com/eflite/Cambridge_popup/master/fg/css/cambridge.css");
@import url("https://raw.githack.com/eflite/anki-template/master/_style.css");
.sentence, #ipa, #expression {
  text-align: left !important;
}

#ipa *, #expression {
  font-family: 'Libre Baskerville', serif;
}

#extrainfo * {
  color: var(--angle-color);
}

.sentence {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: auto;
  max-width: 600px;
}

.sentence p {
  margin: 0;
}

video {
  width: 100%;
}